@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


html, body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: #ba011a;
    font-family: 'Montserrat';
    color: #e44f0a;
}

.artR, .artL {
    max-width: 100%;
    width: 400px;
    height: auto;
    border-radius: 10px;
    flex-shrink: 0;
}

.rightP, .leftP {
    font-size: 1.1rem;
    max-width: 600px;
    flex: 1;
    font-size: clamp(1rem, 2.5vw, 1.3rem);

}

#title{
    color: #fcf5af;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-family: 'Limelight', cursive;

}

.box {
    padding: 40px;
    margin: 40px auto;
    max-width: 1100px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #fcf5af;
    border-radius: 10px;
    gap: 40px;
}

.social{
    padding: auto;
    display: flex;
    justify-content: center;
    background-color: #400224;
}
.socialIcon{
    padding: 25px;
    width: 100px;
    height: auto;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .box {
        flex-direction: column;
        text-align: center;
    }

    .artR, .artL {
        width: 100%;
        max-width: 350px;
    }

    .rightP, .leftP {
        margin: 0;
    }
}